body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #DFDFDF;
}

.container {
    display: flex;
    width: 80%;
    height: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section {
    background-color: #2e004f;
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 18px;
}

.right-section {
    background-color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-container {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
}

.register-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #3b82f6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #3366cc;
}
